extends base.pug

block content
  if loggedIn
    form(method="POST")
      input(name="name" placeholder="name" type="text", required, value=loggedInUser.name)
      input(name="email" placeholder="email" type="email", required, value=loggedInUser.email)
      input(name="username" placeholder="username" type="text", required, value=loggedInUser.username)
      input(name="location" placeholder="location" type="text", required, value=loggedInUser.location)
      input(type="submit" value="Update Profile")
  else 
    h1 error