extends base
include mixins/video

block content 
  form(method="GET").search__form
    input(placeholder="Search by title", type="text" name="keyword")
    input(type="submit", value="Search now")

  div.video-grid
    each video of videos  
      +video(video)
    
      span.empty__message No videos found