extends ../base.pug

block content
  if errorMsg 
    span=errorMsg
  form(method="POST")
    input(placeholder="Old Password", type="password", name="oldPW")
    input(placeholder="New Password", type="password", name="newPW")
    input(placeholder="New Password Confirmation", type="password", name="newPWConfirmation")
    input(type="submit" value="Change Password")